* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  /* background-color: #242424; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.ml-10 {
  margin-left: 10px;
}
a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  color: #000;
  background: #fff;
}
.text_center {
  text-align: center;
}
.text_left {
  text-align: left;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  line-height: normal;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
form {
  width: 100%;
  max-width: 480px;
  margin: auto;
}
.form_group {
  width: 100%;
  position: relative;
  margin-bottom: 15px;
}

.form_control {
  width: 100%;
  padding: 8px 20px;
  outline: none;
  background: #fff;
  color: #000 !important;
  font-size: 16px;
  border: 1px solid #000;
  border-radius: 10px;
  position: relative;
  min-height: 48px;
}

.icon_view {
  display: block;
  position: absolute;
  top: 12px;
  right: 12px;
}

.container {
  width: 100%;
  max-width: 1440px;
  margin: auto;
  padding: 0 15px;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px white inset !important;
  box-shadow: 0 0 0px 1000px white inset !important;
  -webkit-text-fill-color: #000 !important;
}
.header_view {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.no_data {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
